<nb-card [nbSpinner]="loader$ | async" nbSpinnerStatus="danger" style="width: 40vw">
  <nb-card-header>Add Department
  </nb-card-header>
  <nb-card-body>
    <form [formGroup]="addDepartmentForm">
      <div class="row">
        <div class="col-sm-12">
          <div class="form-group">
            <div class="form-group">
              <label for="firstName">Name</label>
              <input class="form-control" id="firstName" formControlName="name" placeholder="Name"
                     type="text">
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <div class="form-group">
            <button
              [disabled]="!addDepartmentForm.valid"
              class="btn btn-outline-success btn-icon btn-semi-round btn-demo"
              id="button"
              (click)="onSubmit()"
              type="button">
              Save
              <i class="plus-outline"></i>
            </button>
          </div>
        </div>
      </div>
    </form>
  </nb-card-body>
</nb-card>
